@{
    ViewData["Title"] = "Municipales Trabajando";
}

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    img {
        border-radius: 50%;
    }
</style>

<h1>Municipales Trabajando</h1>
<h5>Esto se queda (<b>ifcifc</b>) </h5>
<img src="https://64.media.tumblr.com/tumblr_mdg6lryWTJ1rs13ydo1_500.gif" />