@model GestorEventos.Servicios.Entidades.Evento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdEvento" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label"></label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEvento" class="control-label"></label>
                <input asp-for="FechaEvento" class="form-control" />
                <span asp-validation-for="FechaEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoEvento" class="control-label"></label>
                <input asp-for="IdTipoEvento" class="form-control" />
                <span asp-validation-for="IdTipoEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPersonaAgasajada" class="control-label"></label>
                <input asp-for="IdPersonaAgasajada" class="form-control" />
                <span asp-validation-for="IdPersonaAgasajada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPersonaContacto" class="control-label"></label>
                <input asp-for="IdPersonaContacto" class="form-control" />
                <span asp-validation-for="IdPersonaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
