################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GestorEventos.WebAdmin/bin
/GestorEventos.WebAdmin/obj
/GestorEventos.Api/bin
/GestorEventos.Api/obj
/GestorEventos.Test/bin
/GestorEventos.Test/obj
/GestorEventos.Servicios/bin
/GestorEventos.Servicios/obj
/.vs
/GestorEventos.Test/obj/Debug/net8.0/GestorEventos.Test.assets.cache
/GestorEventos.WebAdmin/obj/Debug/net8.0/GestorEventos.WebAdmin.assets.cache
/GestorEventos.Servicios/bin/Debug/net8.0/GestorEventos.Servicios.deps.json
/GestorEventos.Servicios/bin/Debug/net8.0/GestorEventos.Servicios.dll
/GestorEventos.Servicios/bin/Debug/net8.0/GestorEventos.Servicios.pdb
/GestorEventos.Servicios/obj/Debug/net8.0/ref/GestorEventos.Servicios.dll
/GestorEventos.Test/obj/Debug/net8.0/GestorEventos.Test.csproj.FileListAbsolute.txt
/GestorEventos.Test/obj/GestorEventos.Test.csproj.nuget.dgspec.json
/GestorEventos.Test/obj/GestorEventos.Test.csproj.nuget.g.props
/GestorEventos.Test/obj/project.assets.json
/GestorEventos.Test/obj/project.nuget.cache
/GestorEventos.WebClient/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.AssemblyInfo.cs
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.AssemblyInfoInputs.cache
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.assets.cache
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.GeneratedMSBuildEditorConfig.editorconfig
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.GlobalUsings.g.cs
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.RazorAssemblyInfo.cache
/GestorEventos.WebClient/obj/Debug/net8.0/GestorEventos.WebClient.RazorAssemblyInfo.cs
/GestorEventos.WebClient/obj/GestorEventos.WebClient.csproj.nuget.dgspec.json
/GestorEventos.WebClient/obj/GestorEventos.WebClient.csproj.nuget.g.props
/GestorEventos.WebClient/obj/GestorEventos.WebClient.csproj.nuget.g.targets
/GestorEventos.WebClient/obj/project.assets.json
/GestorEventos.WebClient/obj/project.nuget.cache
