################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GestorEventos.WebAdmin/bin
/GestorEventos.WebAdmin/obj
/GestorEventos.Api/bin
/GestorEventos.Api/obj
/GestorEventos.Test/bin
/GestorEventos.Test/obj
/GestorEventos.Servicios/bin
/GestorEventos.Servicios/obj
/.vs
