﻿@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home/index.css" />
<link rel="stylesheet" href="~/css/FixMain.css" />
    <div class="landing">
      <header class="section-slider">
        <img
          class="slider-icon"
          loading="lazy"
          alt=""
          src="~/images/slider@2x.png"
        />

        <div class="celebra-tu-ltima-container">
          <p class="celebra-tu-ltima">¡Celebra tu última noche</p>
          <p class="de-soltera-con">de soltería con estilo!</p>
        </div>
        <div class="cta-wrapper">
          <div class="cta">
            <div class="cta-child"></div>
            <div class="planifica-tu-despedida">
            <a target="_blank" href="~reserva.html" hidefocus="true" style="outline: none;color:#fff;text-decoration: none;">
            Planifica tu despedida hoy </a></div>
          </div>
        </div>
      </header>
      <section class="section-testimonios">
        <div class="section-testimonios-child"></div>
        <div class="testimonios-wrapper">
          <div class="testimonios">TESTIMONIOS</div>
        </div>
        <div class="fue-una-noche-pica-todo-sali-parent">
          <div class="fue-una-noche">
            "¡Fue una noche épica! Todo salió perfecto gracias al equipo. No
            podía haber pedido una mejor despedida de soltero."
          </div>
          <div class="juan-m-wrapper">
            <div class="juan-m">Juan M.</div>
          </div>
        </div>
      </section>
      <section class="homepage">
        <img
          class="imagen-01-icon"
          loading="lazy"
          alt=""
          src="~/images/imagen-01@2x.png"
        />

        <div class="bio-image">
          <div class="bio-image-child"></div>
          <div class="la-mejor-despedida-container">
            <p class="la-mejor-despedida">La mejor despedida de</p>
            <p class="soltero-hecha-a">soltero, hecha a tu medida</p>
          </div>
          <div class="organizar-la-despedida-container">
            <p class="organizar-la-despedida">
              Organizar la despedida de soltero perfecta puede ser un desafío.
              Por eso, estamos aquí para ayudarte a planear una noche (o un fin
              de semana) que vos y tus amigos recordaran para siempre.
            </p>
            <p class="blank-line">&nbsp;</p>
            <p class="con-actividades-nicas">
              Con actividades únicas, destinos emocionantes y experiencias
              personalizadas, hacemos que tu despedida de soltero sea todo
            </p>
            <p class="menos-ordinaria">menos ordinaria.</p>
          </div>
        </div>
      </section>
      <section class="section-eventos">
        <div class="section-eventos-child"></div>
        <div class="section-eventos-inner">
          <div class="testimonial-parent">
            <div class="testimonial">
              <img
                class="testimonial-child"
                loading="lazy"
                alt=""
                src="~/images/group-3@2x.png"
              />
            </div>
            <div class="fiestas-privadas-alquila-container">
              <p class="fiestas-privadas">Fiestas Privadas</p>
              <p class="alquila-un-lugar">
                Alquila un lugar exclusivo para una fiesta privada con DJ, barra
                libre y entretenimiento personalizado.
              </p>
            </div>
          </div>
        </div>
        <div class="tipos-de-eventos-parent">
          <div class="tipos-de-eventos">TIPOS DE EVENTOS</div>
          <div class="testimonial-content-parent">
            <div class="testimonial-content">
              <div class="testimonial-content1">
                <img
                  class="testimonial-content-child"
                  loading="lazy"
                  alt=""
                  src="~/images/group-5@2x.png"
                />
              </div>
              <div class="escapadas-de-fin-container">
                <p class="escapadas-de-fin">Escapadas de Fin de Semana</p>
                <p class="organizamos-viajes-a">
                  Organizamos viajes a destinos populares con todo incluido:
                  alojamiento, transporte y actividades.
                </p>
              </div>
            </div>
            <div class="testimonial-content2">
              <div class="testimonial-quote">
                <img
                  class="testimonial-quote-child"
                  loading="lazy"
                  alt=""
                  src="~/images/group-4@2x.png"
                />
              </div>
              <div class="relax-y-bienestar-container">
                <p class="relax-y-bienestar">Relax y Bienestar</p>
                <p class="sesiones-de-spa">
                  Sesiones de spa, masajes y actividades de bienestar para una
                  despedida más relajada.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-div">
          <div class="frame-parent">
            <div class="frame-wrapper">
              <img
                class="frame-child"
                loading="lazy"
                alt=""
                src="~/images/group-6@2x.png"
              />
            </div>
            <div class="experiencias-gourmet-disfruta-container">
              <p class="experiencias-gourmet">Experiencias Gourmet</p>
              <p class="disfruta-de-una">
                Disfruta de una cena de lujo con degustación de vinos, clases de
                cocina y más.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-cta">
        <div class="section-cta-child"></div>
        <div class="momentos-que-no">Momentos que no olvidarás jamás</div>
        <div class="section-cta-inner">
          <div class="rectangle-parent">
            <div class="frame-item"></div>
            <div class="planifica-tu-despedida1">
              Planifica tu despedida hoy
            </div>
          </div>
        </div>
      </section>
    </div>

