@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/FixMain.css" />

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 1300px;
        row-gap: 50px;
    }
    
    img {
        border-radius: 50%;
    }

    img.icon {
        width: 400px;
        border-radius: 0;
    }
</style>

<h1>Municipales Trabajando</h1>
<img src="https://64.media.tumblr.com/tumblr_mdg6lryWTJ1rs13ydo1_500.gif" />
<img src="~/images/icon.png" class="icon" />

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var apiURL = '/api/EventoControler/2024-06-17';

        $.ajax({
            url: apiURL,
            method: 'GET',
            success: function (data) {
                

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error api evento:', textStatus, errorThrown);
            }
        });
    });

</script>