@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/FixMain.css" />

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    img {
        border-radius: 50%;
    }
</style>

<h1>Municipales Trabajando</h1>
<img src="https://64.media.tumblr.com/tumblr_mdg6lryWTJ1rs13ydo1_500.gif" />
