@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/FixMain.css" />
<link rel="stylesheet" href="~/css/home/faq.css" />

<section class="Titulo">
    <img src="~/images/icon.png" class="icon">
    <h1>¿Quiénes somos?</h1>
</section>

<section class="integrantes">
    <section>
        <img src="~/images/faq/salem.gif">
        <h2>Ignacio Castellanos</h2>
        <h5>Alias: El Profe</h5>
        <h6>Nick: ifcifc</h6>
    </section>
    <section>
        <img src="~/images/faq/jaki.png">
        <h2>Jacqueline Goñi</h2>
        <h5>Alias: Jaki</h5>
        <h6>Nick: jacquelineeee</h6>
    </section>
    <section>
        <img src="~/images/faq/nombre.png">
        <h2>Santiago Herr</h2>
        <h5>Alias: Nombre</h5>
        <h6>Nick: san-102</h6>
    </section>
    <section>
        <img src="~/images/faq/anitierri.jpg">
        <h2>Ana Ristaño</h2>
        <h5>Alias: Anitierri</h5>
        <h6>Nick: anitierri</h6>
    </section>
    <section>
        <img src="~/images/faq/collie_salvaje.jpeg">
        <h2>Eliana Romano</h2>
        <h5>Alias: Collie Salvaje</h5>
        <h6>Nick: ColliePaciente</h6>
    </section>
</section>


<div class="confianza-container">
    <p class="confianza">¡Confía en nosotros (menos en la <b>CollieSalvaje</b>) para crear la despedida de soltero/a perfecta, a la medida de tus deseos! 🥂</p>
    <p>Garantizamos que cada celebración sea única, bien organizada y llena de momentos inolvidables.</p>
</div>

<div class="containerr">
    <div class="box">
        <h2>1</h2>
        <p>Planificación personalizada y adaptada a tus necesidades específicas.</p>
    </div>
    <div class="box">
        <h2>2</h2>
        <p>Selección de los mejores proveedores y servicios para hacer tu evento excepcional.</p>
    </div>
    <div class="box">
        <h2>3</h2>
        <p>Acompañamiento y coordinación durante todo el proceso, desde la reserva hasta el gran día.</p>
    </div>
</div>


<p class="fin">¡Comienza a planificar tu despedida de soltero/a soñada hoy mismo! 🎉</p>
</section>
