/*Para hacer que la pagina cubra todo el ancho la pantalla*/

@media (min-width: 10px) {
    .container {
        max-width: 100vw !important;
    }
}

.container {
    min-width: 100% !important;
    max-width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #e01050 !important;
    border-color: #e01050 !important;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #af0b3e !important;
        border-color: #af0b3e !important;
    }

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #00406b !important;
}



