.slider-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.celebra-tu-ltima,
.de-soltera-con {
  margin: 0;
}
.celebra-tu-ltima-container {
  width: 805px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.planifica-tu-despedida {
  position: relative;
  font-weight: 500;
}
.botonprimario,
.cta-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.botonprimario {
  border-radius: var(--br-xl);
  background-color: var(--color-crimson);
  justify-content: flex-start;
  padding: var(--padding-3xl);
  white-space: nowrap;
  z-index: 1;
}
.cta-button {
  width: 806px;
  justify-content: center;
  padding: 0 2px 0 0;
  font-size: var(--font-size-17xl);
}
.section-slider,
.section-slider-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.section-slider {
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 219px var(--padding-xl) 203px;
  position: relative;
  gap: 24px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.section-slider-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-531xl);
}
.section-testimonios-child {
  width: 1440px;
  height: 650px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.testimonios {
  width: 539px;
  position: relative;
  letter-spacing: 0.5em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.testimonios-wrapper {
  width: 1076px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.fue-una-noche,
.juan-m {
  position: relative;
  z-index: 1;
}
.fue-una-noche {
  align-self: stretch;
  font-weight: 600;
}
.juan-m {
  width: 180px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.testimonial-author {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.fue-una-noche-pica-todo-sali-parent,
.section-testimonios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.fue-una-noche-pica-todo-sali-parent {
  width: 1075px;
  align-items: flex-end;
  gap: 30px;
  font-size: var(--font-size-17xl);
}
.section-testimonios {
  align-self: stretch;
  background-color: var(--color-gray-200);
  align-items: center;
  padding: 60px var(--padding-xl) 209px;
  box-sizing: border-box;
  gap: 202px;
}
.la-mejor-despedida {
  margin: 0;
  font-weight: 300;
}
.soltero-hecha-a {
  margin: 0;
  font-weight: 600;
}
.la-mejor-despedida-container {
  align-self: stretch;
  position: relative;
}
.blank-line,
.con-actividades-nicas,
.menos-ordinaria,
.organizar-la-despedida {
  margin: 0;
}
.organizar-la-despedida-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.description,
.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  align-self: stretch;
  gap: 19px;
}
.description-wrapper {
  width: 539px;
  padding: 188.5px 0 0;
  box-sizing: border-box;
  min-width: 539px;
  max-width: 100%;
}
.imagen-01-icon {
  height: 622px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 383px;
}
.about-us,
.contenedor-nosotros {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.contenedor-nosotros {
  width: 1179px;
  justify-content: flex-start;
  gap: 50.5px;
  z-index: 2;
}
.about-us {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  margin-top: -72px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-turquoise);
}
.section-testimonios-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: -550px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child,
.landing-inner,
.section-testimonios-parent {
  align-self: stretch;
  max-width: 100%;
}
.frame-child {
  flex: 1;
  position: relative;
  background-color: var(--color-gray-100);
}
.landing-inner {
  height: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-531xl);
  box-sizing: border-box;
  margin-top: -550px;
}
.tipos-de-eventos {
  text-decoration: none;
  width: 539px;
  height: 40px;
  position: relative;
  letter-spacing: 0.5em;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.img01-icon {
  width: 195px;
  height: 195px;
  position: relative;
  object-fit: contain;
}
.fiestas-privadas {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-weight: 600;
}
.alquila-un-lugar {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.fiestas-privadas-alquila-container {
  align-self: stretch;
  height: 138px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.card-evento-01 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-10xl);
}
.img02-icon {
  width: 195px;
  height: 195px;
  position: relative;
  object-fit: contain;
}
.experiencias-gourmet {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-weight: 600;
}
.disfruta-de-una {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.experiencias-gourmet-disfruta-container {
  align-self: stretch;
  height: 148px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.card-evento-02 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-10xl);
}
.img03-icon {
  width: 195px;
  height: 195px;
  position: relative;
  object-fit: contain;
}
.relax-y-bienestar {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-weight: 600;
}
.sesiones-de-spa {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.relax-y-bienestar-container {
  align-self: stretch;
  height: 138px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.card-evento-03 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-10xl);
}
.img04-icon {
  width: 195px;
  height: 195px;
  position: relative;
  object-fit: contain;
}
.escapadas-de-fin {
  margin-block-start: 0;
  margin-block-end: 8px;
  font-weight: 600;
}
.organizamos-viajes-a {
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.escapadas-de-fin-container {
  align-self: stretch;
  position: relative;
}
.card-evento-04 {
  width: 259px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-10xl);
}
.card-grupoeventos {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-turquoise);
}
.contenedor-eventos,
.event-types,
.section-eventos {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.contenedor-eventos {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}
.event-types,
.section-eventos {
  align-items: flex-start;
  box-sizing: border-box;
}
.section-eventos {
  flex: 1;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: column;
  padding: 66px var(--padding-69xl);
}
.event-types {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-531xl);
  margin-top: -550px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.section-cta-child {
  width: 1440px;
  height: 650px;
  position: relative;
  background-color: var(--color-steelblue);
  display: none;
  max-width: 100%;
}
.momentos-que-no {
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.planifica-tu-despedida1 {
  position: relative;
  font-weight: 500;
}
.botonprimario-wrapper,
.botonprimario1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.botonprimario1 {
  border-radius: var(--br-xl);
  background-color: var(--color-crimson);
  justify-content: flex-start;
  padding: var(--padding-3xl);
  white-space: nowrap;
  z-index: 1;
}
.botonprimario-wrapper {
  width: 791px;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-17xl);
}
.section-cta,
.section-cta-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.section-cta {
  flex: 1;
  background-color: var(--color-steelblue);
  flex-direction: column;
  align-items: center;
  padding: 250px var(--padding-2xl) 218px var(--padding-xl);
  gap: var(--gap-15xl);
}
.section-cta-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-531xl);
  margin-top: -550px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.footer-child,
.image-8-icon {
  position: relative;
  max-width: 100%;
}
.footer-child {
  height: 476px;
  width: 1440px;
  background-color: var(--color-gray-100);
  display: none;
}
.image-8-icon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.footer-logo {
  height: 67px;
  width: 199px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
  box-sizing: border-box;
}
.servicios {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.blank-line1,
.blank-line2,
.blank-line3,
.blank-line4,
.escapadas-de-fin1,
.experiencias-gourmet1,
.fiestas-privadas1,
.relax-y-bienestar1 {
  margin: 0;
}
.servicios-fiestas-privadas-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.footer-services {
  width: 197px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px 0 0;
  box-sizing: border-box;
}
.contacto {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.blank-line5,
.blank-line6,
.blank-line7,
.celular-54293566566,
.direccin-av-caser,
.email-infodespedidascom {
  margin: 0;
}
.contacto-direccin-av-container {
  width: 195px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.objects-icon,
.objects-icon1 {
  position: absolute;
  top: 79px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  z-index: 1;
}
.objects-icon1 {
  top: 45px;
}
.redes-sociales {
  margin: 0;
  white-space: pre-wrap;
  font-size: var(--font-size-5xl);
}
.blank-line8 {
  margin: 0;
}
.despedidassol {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line9 {
  margin: 0;
}
.despedidassol1 {
  margin: 0;
  white-space: pre-wrap;
}
.redes-sociales-despedidassol-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.social-links {
  height: 95px;
  width: 206px;
  position: relative;
}
.footer,
.landing {
  display: flex;
  align-items: flex-start;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 191px 186px 105px var(--padding-69xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  margin-top: -550px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.landing {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .section-slider-wrapper {
    padding-bottom: var(--padding-338xl);
    box-sizing: border-box;
  }
  .section-testimonios {
    gap: 101px;
  }
  .landing-inner {
    padding-bottom: var(--padding-338xl);
    box-sizing: border-box;
  }
  .card-grupoeventos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .event-types,
  .section-cta-wrapper {
    padding-bottom: var(--padding-338xl);
    box-sizing: border-box;
  }
  .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .description-wrapper {
    flex: 1;
  }
  .contenedor-nosotros {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .section-slider {
    padding-top: var(--padding-123xl);
    padding-bottom: 132px;
    box-sizing: border-box;
  }
  .section-slider-wrapper {
    padding-bottom: var(--padding-213xl);
    box-sizing: border-box;
  }
  .fue-una-noche,
  .juan-m {
    font-size: var(--font-size-10xl);
  }
  .section-testimonios {
    gap: 50px;
    padding-top: var(--padding-551xl);
    padding-bottom: 136px;
    box-sizing: border-box;
  }
  .la-mejor-despedida-container {
    font-size: var(--font-size-10xl);
  }
  .description-wrapper {
    min-width: 100%;
  }
  .contenedor-nosotros {
    gap: var(--gap-6xl);
  }
  .landing-inner {
    padding-bottom: var(--padding-213xl);
    box-sizing: border-box;
  }
  .contenedor-eventos {
    gap: var(--gap-15xl);
  }
  .section-eventos {
    padding: var(--padding-551xl) var(--padding-25xl) 43px;
    box-sizing: border-box;
  }
  .event-types {
    padding-bottom: var(--padding-213xl);
    box-sizing: border-box;
  }
  .momentos-que-no {
    font-size: 38px;
  }
  .section-cta {
    padding-top: var(--padding-551xl);
    padding-bottom: var(--padding-123xl);
    box-sizing: border-box;
  }
  .section-cta-wrapper {
    padding-bottom: var(--padding-213xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-25xl);
    padding-right: 93px;
    padding-bottom: 68px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .fue-una-noche,
  .juan-m {
    font-size: var(--font-size-3xl);
  }
  .section-testimonios {
    gap: var(--gap-6xl);
  }
  .la-mejor-despedida-container {
    font-size: var(--font-size-3xl);
  }
  .description-wrapper {
    padding-top: var(--padding-551xl);
    box-sizing: border-box;
  }
  .imagen-01-icon {
    min-width: 100%;
  }
  .contenedor-eventos {
    gap: var(--gap-mid);
  }
  .section-eventos {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .momentos-que-no {
    font-size: var(--font-size-10xl);
  }
  .section-cta {
    gap: var(--gap-mid);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}

